<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <h1>About us</h1>
    <nav>
        <a href="/">Home Pages</a>
        <a href="pages">Other Pages</a>
        <a href="about">About Pages</a>
    </nav>
    <div>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus a voluptatum repudiandae dolorem ducimus nobis provident ad id eveniet, delectus distinctio facilis modi, quia aperiam quam dolore nulla quas necessitatibus!
    </div>
</body>
</html>