<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <h1>Index File</h1>
    <nav>
        <a href="">Home Pages</a>
        <a href="pages">Other Pages</a>
        <a href="about">About Pages</a>
    </nav>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa deleniti laudantium eligendi, nam obcaecati impedit commodi, optio adipisci ad iste accusantium suscipit perspiciatis odio voluptates, expedita error eum libero illum.</p>
</body>
</html>