<!--Head--> 
<%- include('./partials/head') %> 
<!--nav-->
<%- include('./partials/nav') %> 
<!--main Content-->

      <p class="subtitle">
        404 Error: File not found!!!
      </p>
<!--Footer-->
<%- include('./partials/footer') %> 
