<!--Head--> 
<%- include('./partials/head') %> 
<!--nav-->
<%- include('./partials/nav') %> 
<!--main Content-->

      <h3 class="subtitle">
        EJS website with <strong>Bulma</strong>!
      </h3>
  <!--Footer-->
  <%- include('./partials/footer') %> 
