  <section class="section m-0">
    <div class="container">
      <nav>
        <h1 class="title">
          Creating a Blog!!!
        </h1>

        <a href="/">Index</a>
        <a href="/about">About</a>
        <a href="/blogs/create">Create</a>
      </nav>
